ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: darkgrey;
    height: 100%;
    position: fixed;
    overflow: auto;
    opacity: 70%;
  }
  
  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: black;
  }

    .container {
        max-width: 1000px;
        max-height: 700px;
        border: 20px solid black;
        margin-right: 20px;
        box-sizing: auto;
        text-align: center;
        line-height: 30px;
        float: right;
        font-size: x-large;

  }
  .elem {
    background-color: grey;
    box-sizing: border-box;
    align-items: flex-end;
    border: 20px black;
    max-width: 1000px;


  }
  body {
    background-color: black;
    color: aliceblue;
    text-align: center;
  }
  h1 {
    text-align: center;
    border-left: 200px;
  }
