@keyframes animania {
  0%   {background-color: rgb(0, 0, 0)}
  25%  {background-color: rgb(58, 57, 57);}
  50%  {background-color: rgb(138, 137, 137)}
  100% {background-color: rgb(116, 116, 116)}
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: grey;
    height: 100%;
    position: fixed;
    overflow: auto;
    opacity: 70%;
  }
  
  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: black;
  }

    .container {
        max-width: 1500px;
        max-height: 700px;
        border: 20px solid black;
        box-sizing: auto;
        line-height: 30px;
        float: right;
        font-size: x-large;
        animation-name: animania;
        animation-duration: 8s;


  }
  .elem {
    background-color: grey;
    box-sizing: border-box;
    align-items: flex-end;
    border: 20px black;
    max-width: 1000px;


  }
  body {
    background-color: black;
    color: aliceblue;
    text-align: center;
  }
  h1 {
    text-align: center;
    border-left: 200px;
  }
.laptop:hover {
  transform: rotate(360deg);
  transition-duration: 15s;
  
}
.eger:hover {
  transform: rotateY(360deg);
  transition-duration: 15s;
  
}