@keyframes animacio {
  0%   {background-color: rgb(0, 0, 0)}
  25%  {background-color: rgb(58, 57, 57);}
  50%  {background-color: rgb(138, 137, 137)}
  100% {background-color: rgb(116, 116, 116)}
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: grey;
  height: 100%;
  position: fixed;
  overflow: auto;
  opacity: 70%;
}
  
li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  color: black;
}

body {
  background-color: black;
  color: aliceblue;
  text-align: center;
}

.container {
  background-color: gray;
  opacity: 80;
  float: right;
  width: 1600px;
  animation-name: animacio;
  animation-duration: 8s;
}

img:hover {
  transform: rotate(360deg);
  transition-duration: 5s;
}

.cim:hover {
  transform: rotateY(180deg);
  transition-duration: 1s;
}

h4:hover {
  transform: rotateY(180deg);
  transition-duration: 1s;
}