
.container {
    width: 250px;
    height: 150px;
    border: 2px solid #2ecc71;
    background-color: #f0f8ff;
    margin-right: 20px;
    box-sizing: border-box;
    text-align: center;
    line-height: 200px;
}

.elem {
    background-color: grey;
    box-sizing: border-box;
    align-items: center;
    


}
