ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: grey;
  height: 100%;
  position: fixed;
  overflow: auto;
  opacity: 70%;
}
  
li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
    color: black;
}

.kulso {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  float: right;
  width: 1600px;
  align-content: center;
  color: white;
}

.elso {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}

.masodik {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
}

.container {
  width: 800px;
  margin-right: 20px;
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  float: right;
  background-color: grey;
}

.elem {
  opacity: 70%;
  box-sizing: border-box;
  align-items: center;
}

body {
  background-color: black;
  color: aliceblue;
  text-align: center;
}
